// Asboot categories
//
// Eka Putra
// https://github.com/eka-putra/asboot.github.io/_sass/_categories.scss

.cat {
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    margin-right: 6px;
}

.release {
	background-color: #259b24;
}

.update {
	background-color: #5677fc;
}

.bug {
	background-color: #e51c23;
}